{#<ul class="articles">#}
{% for article in articles %}
    <article class="blog-main">
        <h2 class="am-article-title blog-title">
            {{ article.title }}
        </h2>
        <div class="am-g am-g-fixed">
            <p>
                {{ article.summary | safe }}
            {% if article.has_more %}<p><a href="{{ article.link }}" rel="nofollow">阅读更多...</a>{% endif %}
            </p>
        </div>

        <a class="am-btn am-btn-primary" href="{{ article.link }}" target="_blank">
          阅读全文 »
        </a>
    </article> <!-- end entry -->
    <hr class="am-article-divider">
    {% endfor %}
{#</ul>#}
