{% extends 'base.html' %}
{% block head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auto-number-title.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<!-- 实现评论框 -->
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<!-- 实现侧边目录 -->
<script src="https://cdn.jsdelivr.net/npm/components-jqueryui@1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.tocify@1.9.1/src/javascripts/jquery.tocify.min.js"></script>


<title>关于我</title>
{% endblock head %}

{% block content %}
<div class="am-container">
    <header class="am-topbar">
        <h1 class="am-topbar-brand">
            <a href="{{ url_for('main.index') }}">Cabbage</a>
        </h1>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#doc-topbar-collapse'}">
            <span class="am-sr-only">导航切换</span>
            <span class="am-icon-bars"></span>
        </button>
        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li><a href="{{ url_for('main.index') }}">文章</a></li>
                <li><a href="{{ url_for('main.archives') }}">归档</a></li>
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        分类 <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <!--<li class="am-dropdown-header">标题</li>-->
                        {% for category in categories %}
                        <li><a href="#">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{{ url_for('main.about') }}">关于我</a></li>
            </ul>

        </div>
    </header>

    <article class="am-post">
        <h1 class="am-article-title blog-title">
            关于我
        </h1>

        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
        <main class="am-g am-post-content">
            <p>双非小硕一名，在机器学习的路上费力挣扎着，目前正在努力补基础、打比赛中，</p>

            <h2>联系我</h2>

            <ul>
                <li>Email：harrylyx#qq.com</li>
                <li>QQ：467270182</li>
                <li>Github：<a href="https://github.com/harrylyx">harrylyx</a></li>
            </ul>

            <h2>站在巨人的肩膀上</h2>

            <ul>
                <li><a href="http://flask.pocoo.org/">Flask</a>，作为后端框架</li>
                <li><a href="http://jinja.pocoo.org/docs/2.10/">Jinja2</a>，作为后端模板渲染引擎</li>
                <li><a href="https://github.com/lepture/mistune">mistune</a>，后端渲染Markdown转HTML</li>
                <li><a href="https://github.com/animalize/qqwry-python3">qqwry</a>，作为后端IP查询工具</li>
                <li><a href="http://amazeui.org">Amaze-UI</a>，作为整个前端的UI框架</li>
                <li><a href="https://echarts.baidu.com/">Echarts.js</a>，用于渲染后台监控数据</li>
                <li><a href="https://github.com/moment/moment">Moment.js</a>，用于国际化时间</li>
                <li><a href="https://github.com/gitalk/gitalk">gitalk</a>，实现评论功能</li>
                <li><a href="https://github.com/gfranko/jquery.tocify.js">jquery.tocify.js</a>，实现自动生成文章目录</li>
                <li><a href="https://pandao.github.io/editor.md/">Editor.md</a>，后台Markdown编辑</li>
                <li>字体使用<a href="https://fonts.google.com/">Google字体</a></li>
                <li>CDN使用<a href="https://www.jsdelivr.com/">jsdelivr</a></li>
                <li>图床使用<a href="https://sm.ms">sm.ms</a></li>
            </ul>

            <h2>我的小伙伴们</h2>

            <p><a href="https://orchingly.com">Lany</a></p>

            <p><a href="https://slane.cn/">SlaneYang&#39;s Blog</a></p>
            <div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
                <a href="#top" title="回到顶部">
                    <span class="am-gotop-title">回到顶部</span>
                    <i class="am-icon-angle-double-up am-icon-lg"></i>
                </a>
            </div>
        </main>
        <div id="toc"></div>
        <div id="gitalk-container"></div>
        <nav class="post-nav">
            {% if prev_article %}

            <a class="prev" rel="prev" href="{{ url_for('main.article',id =prev_article.id) }}">
                <span class="am-icon-chevron-left"></span>
                <span>{{ prev_article.title }}</span>
            </a>
            {% endif %}
            {% if next_article %}
            <a class="next" rel="next" href="{{ url_for('main.article',id =next_article.id) }}">
                <span>{{ next_article.title }}</span>
                <span class="am-icon-chevron-right"></span>
            </a>
            {% endif %}
        </nav>
    </article>
</div>
{% endblock content %}
{% block scripts %}
<!-- 配置及生成目录 -->
<script type="text/javascript">
    var toc = $("#toc").tocify({
        selectors: "h2,h3,h4,h5", // 选择要筛选的标题
        extendPage: false, // 页面不够长时拉长页面，这里选择关闭因为感觉留出大片空白不好看- -
        highlightDefault: false // 自动高亮第一条
    });
</script>

<!-- gitalk -->
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: 'd0945766176fef31e9ad',
        clientSecret: 'b00257e0c08d85624825b4e3a6ede290d017282e',
        repo: 'flask-blog',
        owner: 'harrylyx',
        admin: ['harrylyx'],
        id: window.location.pathname,      // Ensure uniqueness and length less than 50
        distractionFreeMode: false  // Facebook-like distraction free mode
    })

    gitalk.render('gitalk-container')
</script>

{% endblock %}