{% extends 'base.html' %}
{% import 'main/_macros.html' as macros %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/amaze_custom.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<title>归档</title>
{% endblock %}

{% block content %}
<div class="am-container">
    <header class="am-topbar">
        <h1 class="am-topbar-brand">
            <a href="{{ url_for('main.index') }}">Cabbage</a>
        </h1>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#doc-topbar-collapse'}">
            <span class="am-sr-only">导航切换</span>
            <span class="am-icon-bars"></span>
        </button>
        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li><a href="{{ url_for('main.index') }}">文章</a></li>
                <li class="am-active"><a href="{{ url_for('main.archives') }}">归档</a></li>
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        分类 <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <!--<li class="am-dropdown-header">标题</li>-->
                        {% for category in categories %}
                        <li><a href="{{ category.link }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <article>
        <h3>目前共计{{ count }} 篇日志。 继续努力。</h3>
        {% for y in year %}
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd">
                <h3 class="am-panel-title">{{ y }}</h3>
            </div>
            <ul class="am-list am-list-static">
                {% for i in data[y] %}
                <li><small class="am-post-meta">{{ i.month_and_day }}</small><span class="post-title-link"
                        itemprop="name"><a href="{{ url_for('main.article', id=i.id) }}" itemprop="url">
                            {{ i.title }}</a></span>
                    </a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        {{ macros.pagination_widget(pagination, endpoint) }}
    </article>
</div>
{% endblock %}