{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auto-number-title.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<!-- 实现评论框 -->
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<!-- 实现侧边目录 -->
<script src="https://cdn.jsdelivr.net/npm/components-jqueryui@1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.tocify@1.9.1/src/javascripts/jquery.tocify.min.js"></script>


<title>{{ article.title }}</title>
{% endblock head %}

{% block content %}
<div class="am-container">
    <header class="am-topbar">
        <h1 class="am-topbar-brand">
            <a href="{{ url_for('main.index') }}">Cabbage</a>
        </h1>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#doc-topbar-collapse'}">
            <span class="am-sr-only">导航切换</span>
            <span class="am-icon-bars"></span>
        </button>
        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li><a href="{{ url_for('main.index') }}">文章</a></li>
                <li><a href="{{ url_for('main.archives') }}">归档</a></li>
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        分类 <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <!--<li class="am-dropdown-header">标题</li>-->
                        {% for category in categories %}
                        <li><a href="#">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

        </div>
    </header>

    <article class="am-post">
        <h1 class="am-article-title blog-title">
            {{ article.title }}
        </h1>
        <div class="am-post-meta">
            {{ moment(article.created).format('YYYY-MM-DD') }}&nbsp;&nbsp;{{ article.category_name }}</div>
        {% if article.tags %}
        <div class="am-post-meta">
            {% for tag in article.tags %}
            <a href="{{ url_for('main.tag',name =tag.name ) }}" title="" rel="tag">{{ tag.name }}</a>&nbsp;/
            {% endfor %}
        </div>
        {% endif %}
        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
        <main class="am-g am-post-content">
            {% if article.content_html %}
            {{ article.content_html | safe }}
            {% else %}
            {{ article.content }}
            {% endif %}
            <div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
                <a href="#top" title="回到顶部">
                    <span class="am-gotop-title">回到顶部</span>
                    <i class="am-icon-angle-double-up am-icon-lg"></i>
                </a>
            </div>
        </main>
        <div id="toc"></div>
        <div id="gitalk-container"></div>
        <nav class="post-nav">
            {% if prev_article %}

            <a class="prev" rel="prev" href="{{ url_for('main.article',id =prev_article.id) }}">
                <span class="am-icon-chevron-left"></span>
                <span>{{ prev_article.title }}</span>
            </a>
            {% endif %}
            {% if next_article %}
            <a class="next" rel="next" href="{{ url_for('main.article',id =next_article.id) }}">
                <span>{{ next_article.title }}</span>
                <span class="am-icon-chevron-right"></span>
            </a>
            {% endif %}
        </nav>
    </article>
</div>
{% endblock content %}
{% block scripts %}
<!-- 配置及生成目录 -->
<script type="text/javascript">
    var toc = $("#toc").tocify({
        selectors: "h2,h3,h4,h5", // 选择要筛选的标题
        extendPage: false, // 页面不够长时拉长页面，这里选择关闭因为感觉留出大片空白不好看- -
        highlightDefault: false // 自动高亮第一条
    });
</script>

<!-- gitalk -->
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: 'd0945766176fef31e9ad',
        clientSecret: 'b00257e0c08d85624825b4e3a6ede290d017282e',
        repo: 'flask-blog',
        owner: 'harrylyx',
        admin: ['harrylyx'],
        id: window.location.pathname,      // Ensure uniqueness and length less than 50
        distractionFreeMode: false  // Facebook-like distraction free mode
    })

    gitalk.render('gitalk-container')
</script>

{% endblock %}