{% extends 'base.html' %}
{% block content %}
    <article class="entry">

        <header class="entry-header">

            <h2 class="entry-title">
                {{ article.title }}
            </h2>




        </header>

        <div class="entry-content">
            <p class="lead">
                {{ moment(article.created).fromNow() }}
                {% if article.content_html %}
                    {{ article.content_html | safe }}
                {% else %}
                    {{ article.content }}
                {% endif %}
            </p>
        </div>

        <ul class="post-nav group">
            {% if prev_article %}
                <li class="prev"><a rel="prev"
                                    href="{{ url_for('main.article',id =prev_article.id) }}"><strong>前一篇</strong>{{ prev_article.title }}
                </a></li>
            {% endif %}
            {% if next_article %}
                <li class="next"><a rel="next"
                                    href="{{ url_for('main.article',id =next_article.id) }}"><strong>后一篇</strong> {{ next_article.title }}
                </a></li>
            {% endif %}

        </ul>


    </article>
{% endblock %}

