body {
    background-color: #fefefe;
    color: #353535;
    border-top: 3px solid #ED6A5A;
    font-family: 'Noto Sans SC', "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}
a {
    color: #ED6A5A;
}
article{
    padding: 0 10px;
}
.blog-main a:focus, a:hover {
    border-bottom: 1px solid #9BC1BC;
}
.blog-main{
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #E7E7E7;
    margin: 10px 10px 20px;
    padding: 30px 20px;
}
.am-post-meta{
    color: #999;
}
.post-nav{
    margin: 1em 0;
    display:flex;
    justify-content:space-between;
    margin-top: 20px;
    font-family: 'Noto Sans SC', Athelas,STHeiti,Microsoft Yahei,sans-serif;
}
.prev,.next{
    color: #353535;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Noto Sans SC', Athelas,STHeiti,Microsoft Yahei,sans-serif;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.prev:hover {
    color: #ED6A5A;
    -webkit-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    transform: translateX(-4px);
}
.next:hover {
    color: #ED6A5A;
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px);
}
.am-more{
    font-weight: 600;
    font-size: 18px;
}
.am-topbar a:focus, a:hover {
    color: #9BC1BC;
    border-bottom: none;
}
.am-topbar-nav>li.am-active>a,.am-topbar-nav>li.am-active>a:focus,.am-topbar-nav>li.am-active>a:hover {
    border-radius: 0;
    color: #ED6A5A;
    background: 0 0
}
.am-topbar-nav>li.am-active>a:after {
    opacity: 0;
    border-bottom-color: #ED6A5A;
}
.am-topbar-nav>li>a:hover:after {
    opacity: 0;
    border-bottom-color: #666;
}
.am-topbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 1.6rem;
    background: none;
    border-width: 0 0 1px;
    border-style: none;
    border-color: #ddd;
    color: #666;
    padding: 20px 0;
}
.am-topbar h1{
    font-size: 48px;
    float: left;
}
.am-topbar div{
    float: right;
}
.am-nav>li>a:focus, .am-nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0);
}
.post-title-link{
    padding: 10px;
}
.am-topbar-btn{
    background-color: #ED6A5A;
    border: #ED6A5A;
}
.am-topbar-btn:active, .am-topbar-btn:hover{
    background-color: #9BC1BC;
    border: #9BC1BC;
}
blockquote {
    margin: 1em 3em;
    padding: .5em 1em;
    border-left: 5px solid #ED6A5A;
    background-color: #ed6a5a0f;
    font-family: 'Noto Sans SC', Athelas,STHeiti,Microsoft Yahei,sans-serif;
    /* font-weight: bold; */
    font-size: 1.5rem;
}

pre {
    padding: 1em;
    border: none;
    overflow: auto;
    font-size: 1.6rem;
    line-height: 1.3;
    max-height: 35em;
    position: relative;
    background: #F6F6F6;
    -moz-background-size: 30px,30px;
    -o-background-size: 30px,30px;
    -webkit-background-size: 30px,30px;
    background-size: 30px,30px;
}

code {
    margin: 0.29412em;
    padding: .07353em 0;
    border-radius: .1rem;
    box-shadow: 0.29412em 0 0 hsla(0,0%,92.5%,.5), -0.29412em 0 0 hsla(0,0%,92.5%,.5);
    word-break: break-word;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-color: hsla(0,0%,92.5%,.5);
    white-space: wrap;
    color: #37474f;
    font-size: 85%;
}

code, kbd, pre, samp {
    font-family: 'Roboto Mono', Monaco,Menlo,Consolas,"Courier New",FontAwesome,monospace;
}

#toc {
    position: fixed;
    left: 55%;
    top: 20%;
    margin-left: 400px;
    border-left: 1px solid #dddddd;
}

#toc ul,ol{
    list-style: none;
    margin-left: 1em;
    padding-left: 0em;
}

#toc li{
    list-style: none;
    padding-left: 0em;
}

#toc a{
    color: #cccccc;
}

#toc .active a{
    color: #ED6A5A;
}

#toc a:hover{
    color: #ED6A5A;
}