/* For highlight */
.highlighttable, .linenos {
    background: #2d2d2d;
    color: #f2f0ec;
}

.highlighttable {
    font: 12px/20px "Source Code Pro",monospace;
    overflow-x: auto;
    display: block;
    border-left: 3px solid #FF8000;
    border-radius: 2px;
    padding: .8em 0;
}

.highlighttable tbody tr {
    display: block;
}

.highlighttable pre {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: inherit;
    line-height: inherit;
    color: inherit;
    word-break: initial;
    word-wrap: initial;
}

.c, .linenos {
    color: #747369;
}

.highlighttable, .linenos {
    background: #2d2d2d;
    color: #f2f0ec;
}

.linenos {
    border-right: 1px solid #3d3d3d;
    padding-right: 0.7em;
    margin-right: 0.7em;
    width: 3em;
    text-align: right;
    position: absolute;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.highlight .o,.highlight .ow,.md-typeset .highlight .o,.md-typeset .highlight .ow {
  color: inherit
}

.highlight .ge,.md-typeset .highlight .ge {
  color: #000
}

.highlight .gr,.md-typeset .highlight .gr {
  color: #a00
}

.highlight .gh,.md-typeset .highlight .gh {
  color: #999
}

.highlight .go,.md-typeset .highlight .go {
  color: #888
}

.highlight .gp,.md-typeset .highlight .gp {
  color: #555
}

.highlight .gs,.md-typeset .highlight .gs {
  color: inherit
}

.highlight .gu,.md-typeset .highlight .gu {
  color: #aaa
}

.highlight .gt,.md-typeset .highlight .gt {
  color: #a00
}

.highlight .gd,.md-typeset .highlight .gd {
  background-color: #fdd
}

.highlight .gi,.md-typeset .highlight .gi {
  background-color: #dfd
}

.highlight .k,.md-typeset .highlight .k {
  color: #3b78e7
}

.highlight .kc,.md-typeset .highlight .kc {
  color: #a71d5d
}

.highlight .kd,.highlight .kn,.md-typeset .highlight .kd,.md-typeset .highlight .kn {
  color: #3b78e7
}

.highlight .kp,.md-typeset .highlight .kp {
  color: #a71d5d
}

.highlight .kr,.highlight .kt,.md-typeset .highlight .kr,.md-typeset .highlight .kt {
  color: #3e61a2
}

.highlight .c,.highlight .cm,.md-typeset .highlight .c,.md-typeset .highlight .cm {
  color: #999
}

.highlight .cp,.md-typeset .highlight .cp {
  color: #666
}

.highlight .c1,.highlight .ch,.highlight .cs,.md-typeset .highlight .c1,.md-typeset .highlight .ch,.md-typeset .highlight .cs {
  color: #999
}

.highlight .na,.highlight .nb,.md-typeset .highlight .na,.md-typeset .highlight .nb {
  color: #c2185b
}

.highlight .bp,.md-typeset .highlight .bp {
  color: #3e61a2
}

.highlight .nc,.md-typeset .highlight .nc {
  color: #c2185b
}

.highlight .no,.md-typeset .highlight .no {
  color: #3e61a2
}

.highlight .nd,.highlight .ni,.md-typeset .highlight .nd,.md-typeset .highlight .ni {
  color: #666
}

.highlight .ne,.highlight .nf,.md-typeset .highlight .ne,.md-typeset .highlight .nf {
  color: #c2185b
}

.highlight .nl,.md-typeset .highlight .nl {
  color: #3b5179
}

.highlight .nn,.md-typeset .highlight .nn {
  color: #ec407a
}

.highlight .nt,.md-typeset .highlight .nt {
  color: #3b78e7
}

.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi,.md-typeset .highlight .nv,.md-typeset .highlight .vc,.md-typeset .highlight .vg,.md-typeset .highlight .vi {
  color: #3e61a2
}

.highlight .nx,.md-typeset .highlight .nx {
  color: #ec407a
}

.highlight .il,.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.md-typeset .highlight .il,.md-typeset .highlight .m,.md-typeset .highlight .mf,.md-typeset .highlight .mh,.md-typeset .highlight .mi,.md-typeset .highlight .mo {
  color: #e74c3c
}

.highlight .s,.highlight .sb,.highlight .sc,.md-typeset .highlight .s,.md-typeset .highlight .sb,.md-typeset .highlight .sc {
  color: #0d904f
}

.highlight .sd,.md-typeset .highlight .sd {
  color: #999
}

.highlight .s2,.md-typeset .highlight .s2 {
  color: #0d904f
}

.highlight .se,.highlight .sh,.highlight .si,.highlight .sx,.md-typeset .highlight .se,.md-typeset .highlight .sh,.md-typeset .highlight .si,.md-typeset .highlight .sx {
  color: #183691
}

.highlight .sr,.md-typeset .highlight .sr {
  color: #009926
}

.highlight .s1,.highlight .ss,.md-typeset .highlight .s1,.md-typeset .highlight .ss {
  color: #0d904f
}

.highlight .err,.md-typeset .highlight .err {
  color: #a61717
}

.highlight .w,.md-typeset .highlight .w {
  color: transparent
}

.highlight .hll,.md-typeset .highlight .hll {
  display: block;
  margin: 0 -.6rem;
  padding: 0 .6rem;
  background-color: rgba(255,235,59,.5)
}

.codehilite .o,.codehilite .ow,.md-typeset .codehilite .o,.md-typeset .codehilite .ow {
  color: inherit
}

.codehilite .ge,.md-typeset .codehilite .ge {
  color: #000
}

.codehilite .gr,.md-typeset .codehilite .gr {
  color: #a00
}

.codehilite .gh,.md-typeset .codehilite .gh {
  color: #999
}

.codehilite .go,.md-typeset .codehilite .go {
  color: #888
}

.codehilite .gp,.md-typeset .codehilite .gp {
  color: #555
}

.codehilite .gs,.md-typeset .codehilite .gs {
  color: inherit
}

.codehilite .gu,.md-typeset .codehilite .gu {
  color: #aaa
}

.codehilite .gt,.md-typeset .codehilite .gt {
  color: #a00
}

.codehilite .gd,.md-typeset .codehilite .gd {
  background-color: #fdd
}

.codehilite .gi,.md-typeset .codehilite .gi {
  background-color: #dfd
}

.codehilite .k,.md-typeset .codehilite .k {
  color: #3b78e7
}

.codehilite .kc,.md-typeset .codehilite .kc {
  color: #a71d5d
}

.codehilite .kd,.codehilite .kn,.md-typeset .codehilite .kd,.md-typeset .codehilite .kn {
  color: #3b78e7
}

.codehilite .kp,.md-typeset .codehilite .kp {
  color: #a71d5d
}

.codehilite .kr,.codehilite .kt,.md-typeset .codehilite .kr,.md-typeset .codehilite .kt {
  color: #3e61a2
}

.codehilite .c,.codehilite .cm,.md-typeset .codehilite .c,.md-typeset .codehilite .cm {
  color: #999
}

.codehilite .cp,.md-typeset .codehilite .cp {
  color: #666
}

.codehilite .c1,.codehilite .ch,.codehilite .cs,.md-typeset .codehilite .c1,.md-typeset .codehilite .ch,.md-typeset .codehilite .cs {
  color: #999
}

.codehilite .na,.codehilite .nb,.md-typeset .codehilite .na,.md-typeset .codehilite .nb {
  color: #c2185b
}

.codehilite .bp,.md-typeset .codehilite .bp {
  color: #3e61a2
}

.codehilite .nc,.md-typeset .codehilite .nc {
  color: #c2185b
}

.codehilite .no,.md-typeset .codehilite .no {
  color: #3e61a2
}

.codehilite .nd,.codehilite .ni,.md-typeset .codehilite .nd,.md-typeset .codehilite .ni {
  color: #666
}

.codehilite .ne,.codehilite .nf,.md-typeset .codehilite .ne,.md-typeset .codehilite .nf {
  color: #c2185b
}

.codehilite .nl,.md-typeset .codehilite .nl {
  color: #3b5179
}

.codehilite .nn,.md-typeset .codehilite .nn {
  color: #ec407a
}

.codehilite .nt,.md-typeset .codehilite .nt {
  color: #3b78e7
}

.codehilite .nv,.codehilite .vc,.codehilite .vg,.codehilite .vi,.md-typeset .codehilite .nv,.md-typeset .codehilite .vc,.md-typeset .codehilite .vg,.md-typeset .codehilite .vi {
  color: #3e61a2
}

.codehilite .nx,.md-typeset .codehilite .nx {
  color: #ec407a
}

.codehilite .il,.codehilite .m,.codehilite .mf,.codehilite .mh,.codehilite .mi,.codehilite .mo,.md-typeset .codehilite .il,.md-typeset .codehilite .m,.md-typeset .codehilite .mf,.md-typeset .codehilite .mh,.md-typeset .codehilite .mi,.md-typeset .codehilite .mo {
  color: #e74c3c
}

.codehilite .s,.codehilite .sb,.codehilite .sc,.md-typeset .codehilite .s,.md-typeset .codehilite .sb,.md-typeset .codehilite .sc {
  color: #0d904f
}

.codehilite .sd,.md-typeset .codehilite .sd {
  color: #999
}

.codehilite .s2,.md-typeset .codehilite .s2 {
  color: #0d904f
}

.codehilite .se,.codehilite .sh,.codehilite .si,.codehilite .sx,.md-typeset .codehilite .se,.md-typeset .codehilite .sh,.md-typeset .codehilite .si,.md-typeset .codehilite .sx {
  color: #183691
}

.codehilite .sr,.md-typeset .codehilite .sr {
  color: #009926
}

.codehilite .s1,.codehilite .ss,.md-typeset .codehilite .s1,.md-typeset .codehilite .ss {
  color: #0d904f
}

.codehilite .err,.md-typeset .codehilite .err {
  color: #a61717
}

.codehilite .w,.md-typeset .codehilite .w {
  color: transparent
}

.codehilite .hll,.md-typeset .codehilite .hll {
  display: block;
  margin: 0 -.6rem;
  padding: 0 .6rem;
  background-color: rgba(255,235,59,.5)
}
