<!DOCTYPE html>
<html>
    <head>
      <title>Welcome to My Blog</title>
    </head>
    <body>
        Blog:
        <a href="{{ url_for('main.index') }}">Home</a>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color: red">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
